openapi: 3.0.3
info:
  title: Microservicio store-stock de tienda-pragma
  description: |-
    Esta API se encarga de manejar los procesos de stock de 
    tienda-pragma
  version: 1.0.0
servers:
- url: https://stock.tienda_pragma/v1
paths:
  /seat:
    post:
      tags:
      - Post seat
      summary: Inserta la información de una nueva sede a la BD
      responses:
        '201':
          description: OK
  /seat/{seatId}:
    get:
      tags: 
      - Get a seat
      summary: Obtiene la informacion de una sede en especifico
      parameters: 
        - name: seatId
          in: path
          description: Id de la sede a obtener
          required: true
          schema: 
            type: string
      responses:
        '201':
          description: OK
    put:
      tags: 
      - Put a seat
      summary: Actualiza la informacion de una sede en especifico
      parameters: 
        - name: seatId
          in: path
          description: Id de la sede a actualizar
          required: true
          schema: 
            type: string
      responses:
        '204':
          description: Seat updated
    delete:
      tags: 
      - Delete a seat
      summary: Elimina la informacion de una sede en especifico
      parameters: 
        - name: seatId
          in: path
          description: Id de la sede a eliminar
          required: true
          schema: 
            type: string
      responses:
        '204':
          description: Seat deleted
  /supply:
    post:
      tags:
      - Post supply
      summary: Inserta la información de un nuevo abastecimiento a la BD
      responses:
        '201':
          description: OK
    get:
      tags:
      - Get supplies
      summary: Obtiene la informacion de todos los abastecimientos
      responses:
        '201':
          description: OK
  /supply/{supplyId}:
    get:
      tags: 
      - Get a supply
      summary: Obtiene la informacion de un abastecimiento en especifico
      parameters: 
        - name: supplyId
          in: path
          description: Id del abastecimiento a obtener
          required: true
          schema: 
            type: string
      responses:
        '201':
          description: OK
          
  /productSupply/{productSupplyId}:
    get:
      tags: 
      - Get a product supply
      summary: Obtiene la informacion de un producto_abastecimiento en especifico
      parameters: 
        - name: productSupplyId
          in: path
          description: Id del producto_abastecimiento a obtener
          required: true
          schema: 
            type: string
      responses:
        '201':
          description: OK
  